header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  max-width: 1440px;
  padding: 0 1em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
  .nav-btn {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  a {
    text-decoration: none;
    margin: 0 1em;
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    ul {
      display: none;
    }
    nav{
      order: -1;
    }

    .nav-btn {
      display: block;
      background-color: transparent;
      fill: white;
      border: none;
    }
  }
}
