.product-card {
  max-width: 1440px;
  margin: 7em auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;

  img {
    width: 80%;
  }

  .product-description {
    margin: auto;
    padding: 2em;
    text-align: center;

    span {
      color: hsl(22, 65%, 57%);
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    p {
      width: 80%;
      margin: 1em auto;
    }

    button {
      margin: 1em 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .product-card {
    flex-direction: row;
    height: 560px;

    .product-description {
      text-align: left;

      p {
        margin: 1em 0;
      }
    }
  }
}
