.product-card {
  max-width: 1440px;
  margin: 7em auto;
  height: 560px;
  padding: 0 1em;
  display: flex;

  img {
    height: 100%;
  }

  .product-description {
    margin: auto;
    padding: 0 7em;

    span {
      color: hsl(22, 65%, 57%);
      text-transform: uppercase;
      letter-spacing: 5px;
    }
    h1{
      line-height: 50px;
    }

    p {
      margin: 1em 0;
    }

    button {
      margin: 1em 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .product-card {
    flex-direction: column;

    img {
      height: 100%;
      width: 80%;
      margin: 0 auto;
    }

    .product-description {
      margin: 2em auto;
      padding: 0 2em;
      text-align: center;
    }
  }
}

@media screen and (max-width: 450px) {
  .product-card {
    .product-description {
      h1 {
        font-size: 40px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}
