<div class="order-container">
  <h3>thank you for your order</h3>
  <p id="email-msg">You will receive an email confirmation shortly.</p>

  <div class="details">
    <div class="products">
      <ng-container *ngFor="let product of cart;let i = index">
        <article class="product-info" *ngIf="i%2 == 0">
          <img loading=lazy src={{product.image}} alt="product image">
          <div class="product-name">
            <p>{{product.name}}</p>
            <h6>$ {{product.price}}</h6>
          </div>
        </article>
      </ng-container>

      <p>and 2 other item(s)</p>
    </div>
    <div class="total">
      <p>GRAND TOTAL</p>
      <h5>$ 5,446</h5>
    </div>
  </div>
  <button [routerLink]="['/']" class="btn-one-default back-btn">BACK TO HOME</button>

</div>
