<footer>
  <div class="foot-container">
    <div class="top">
      <img [routerLink]="['/']" src="../../../../assets/shared/desktop/logo.svg" alt="logo" class="logo">
      <nav>
        <ul>
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a [routerLink]="['/category', 'headphones']">HEADPHONES</a>
          </li>
          <li>
            <a [routerLink]="['/category', 'speakers']">SPEAKERS</a>
          </li>
          <li>
            <a [routerLink]="['/category', 'earphones']">EARPHONES</a>
          </li>
        </ul>
      </nav>
    </div>

    <p class="footer-text">Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music
      lovers and sound
      specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo facility -
      we’re open 7 days a week.</p>

    <div class="buttom">
      <p>Copyright 2021. All Rights Reserved</p>
      <div class="socials">
        <a href="/">
          <img src="../../../../assets/shared/desktop/icon-facebook.svg" alt="logo" class="logo">
        </a>
        <a href="/">
          <img src="../../../../assets/shared/desktop/icon-instagram.svg" alt="logo" class="logo">
        </a>
        <a href="/">
          <img src="../../../../assets/shared/desktop/icon-twitter.svg" alt="logo" class="logo">
        </a>
      </div>
    </div>
  </div>
  <div class="github">
    <p>Made with ♡ by <a href="https://github.com/KarimBourass" target="_blank"> Karim Bourass</a> </p>
    <a href="https://github.com/KarimBourass/audiophile" target="_blank">
      <img src="./../../../../assets/shared/desktop/github.png" alt="Github link">
    </a>
  </div>
</footer>
