<article class="product-images">
  <div class="small-imgs">
    <picture class="flex-center">
      <source media="(min-width: 1124px)" srcset={{product?.gallery.first?.desktop}}>
      <source media="(min-width: 768px)" srcset={{product?.gallery.first?.tablet}}>
      <img src={{product?.gallery.first?.mobile}} alt="before hero image">
    </picture>
    <picture class="flex-center">
      <source media="(min-width: 1124px)" srcset={{product?.gallery.second?.desktop}}>
      <source media="(min-width: 768px)" srcset={{product?.gallery.second?.tablet}}>
      <img src={{product?.gallery.second?.mobile}} alt="before hero image">
    </picture>
  </div>
  <picture class="flex-center">
    <source media="(min-width: 1124px)" srcset={{product?.gallery.third?.desktop}}>
    <source media="(min-width: 768px)" srcset={{product?.gallery.third?.tablet}}>
    <img class="large-img" src={{product?.gallery.third?.mobile}} alt="before hero image">
  </picture>
</article>
