.summary {
  background-color: #fff;
  border-radius: 20px;
  padding: 1em 2em;
  margin: 2em 1em;
  .cart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    button {
      border: none;
      outline: none;
      background: none;
      text-decoration: underline;
      font-size: 1.3em;
      color: gray;

      &:hover {
        cursor: pointer;
        color: hsl(22, 65%, 57%);
      }
    }
  }

  .products {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        margin-right: 1em;
        height: 64px;
        width: 64px;
      }
    }

    span {
      color: gray;
      font-weight: 700;
    }

    .qte-btn {
      margin-left: 1em;
      background-color: #f1f1f1;
      min-width: 76px;
      height: 32px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      span {
        font-weight: 700;
        color: black;
      }

      button {
        width: 45%;
        height: 90%;
        border: none;
        color: grey;
        font-weight: 100;

        &:hover {
          color: black;
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
  }

  .summary-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    p {
      color: gray;
    }
    .total {
      font-weight: 700;
    }
    .grand-total {
      color: hsl(22, 65%, 57%);
    }
  }

  .grand {
    margin: 2em 0;
  }

  .pay-btn {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .cart-header {
      font-size: 0.75em;
    }

    .product-name {
      h6 {
        text-overflow: clip;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
