header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  max-width: 1440px;
  padding: 0 1em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  a {
    text-decoration: none;
    margin: 0 1em;
    color: #fff;
    &:hover {
      color: hsl(22, 65%, 57%);
    }
  }

  img {
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 70px;
      left: 0;
      background-color: hsl(22, 65%, 57%);
      animation: ease 0.5s slidein;

      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }

        to {
          margin-left: 0%;
          width: 100%;
        }
      }

      li {
        margin: 20px 0;
        font-weight: 700;
        font-size: 30px;
      }
    }
    nav {
      order: -1;
    }

    .nav-btn {
      // display: block;
      background-color: transparent;
      fill: white;
      border: none;
    }
  }
}
