<div class="container">

  <div class="text">
    <h1> Bringing you the <span>best</span> audio gear </h1>
    <p> Located at the heart of New York City, Audiophile is the premier store for high end headphones,
      earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration
      rooms available for you to browse and experience a wide range of our products. Stop by our store
      to meet some of the fantastic people who make Audiophile the best place to buy your portable
      audio equipment.</p>
  </div>

  <div class="img">
    <picture class="flex-center">
      <source media="(min-width: 1124px)" srcset="../../../../assets//shared/desktop/image-best-gear.jpg">
      <source media="(min-width: 768px)" srcset="../../../../assets//shared/tablet/image-best-gear-tablet.jpg">
      <img src="./../../../../assets/shared/mobile/image-best-gear.jpg" alt="before hero image">
    </picture>
  </div>

</div>
