.header {
  background-color: black;
  height: 100px;
}

.background{
  width: 100%;
  background-color: #F2F2F2;
}
.checkout-container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.checkout {
  background-color: #fff;
  border-radius: 20px;
  padding: 1em;
  margin: 2em 1em;
  grid-column: 1/3;

  h6 {
    color: hsl(22, 65%, 57%);
  }
}

.card {
  margin: 1em 0;
  .card-inputs {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 375px) {
      grid-template-columns: 1fr;
    }
    gap: 20px;

    .input-field {
      display: flex;
      row-gap: 10px;
      flex-direction: column;
    }

    .adress {
      grid-column: 1/-1;
    }
  }
}

.payment {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  @media screen and (max-width: 375px) {
    grid-template-columns: 1fr
  }

  span {
    grid-row: 1/-1;
  }
  .payment-options {
    margin: 0.5em 0;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    height: 56px;
    border: 1px solid #cfcfcf;
    font-weight: 700;
    border-radius: 8px;

    input {
      width: 20px;
      height: 20px;
    }
    span {
      margin-left: 30px;
    }
  }
}

.summary {
  background-color: #fff;
  border-radius: 20px;
  padding: 1em 2em;
  margin: 2em 1em;
  .cart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    button {
      border: none;
      outline: none;
      background: none;
      text-decoration: underline;
      font-size: 1.3em;
      color: gray;

      &:hover {
        cursor: pointer;
        color: hsl(22, 65%, 57%);
      }
    }
  }

  .products {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        margin-right: 1em;
        height: 64px;
        width: 64px;
      }
    }

    span {
      color: gray;
      font-weight: 700;
    }

    .qte-btn {
      margin-left: 1em;
      background-color: #f1f1f1;
      min-width: 76px;
      height: 32px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      span {
        font-weight: 700;
        color: black;
      }

      button {
        width: 45%;
        height: 90%;
        border: none;
        color: grey;
        font-weight: 100;

        &:hover {
          color: black;
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
  }

  .summary-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    p {
      color: gray;
    }
    .total {
      font-weight: 700;
    }
    .grand-total {
      color: hsl(22, 65%, 57%);
    }
  }

  .grand {
    margin: 2em 0;
  }

  .pay-btn {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .cart-header {
      font-size: 0.75em;
    }

    .product-name {
      h6 {
        text-overflow: clip;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
